<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.jackieblog.article.dao.MenuServiceMapper">

    <resultMap id="Menu" type="com.jackie.jackieblog.article.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <resultMap id="MenuByIdVo" type="com.jackie.jackieblog.article.vo.MenuByIdVo">
        <result column="categoryId" property="categoryId" />
        <result column="categoryName" property="categoryName"/>
        <result column="categoryAmount" property="categoryAmount"/>
        <result column="categoryDetailsId" property="categoryDetailsId" />
        <result column="categoryDetailsName" property="categoryDetailsName"/>
        <result column="categoryDetailsAmount" property="categoryDetailsAmount"/>
    </resultMap>


    <select id="listMenu" resultMap="Menu">
        select * from jw_menu
    </select>


    <select id="listArticleByMenuId" resultMap="MenuByIdVo">
        SELECT jc.id as categoryId, jc.name as categoryName, jc.amount as categoryAmount, jcd.id as categoryDetailsId, jcd.name as categoryDetailsName, jcd.amount as categoryDetailsAmount
        FROM `jw_category` jc left join jw_category_details jcd on jc.id = jcd.category_id where jc.menu_id = #{id} ORDER BY jc.name, jcd.`name`
    </select>
</mapper>